.sideMenu {
  max-width: 220px;
}

.wrapper {
  width: 22rem;
  padding-bottom: 5rem;
  min-height: 12rem;
  margin: auto;

  // background: aliceblue;
}

.logo {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.submit {
  margin-top: 3rem;
  text-align: center;
}
