// generated file
$color-primary-base: var(--wa-color-primary-base);
$color-primary-muted: var(--wa-color-primary-muted);
$color-primary-vivid: var(--wa-color-primary-vivid);
$color-secondary-base: var(--wa-color-secondary-base);
$color-secondary-muted: var(--wa-color-secondary-muted);
$color-secondary-vivid: var(--wa-color-secondary-vivid);

$color-bg-lvl-0: var(--wa-color-background-lvl-0);
$color-bg-lvl-1: var(--wa-color-background-lvl-1);
$color-bg-component: var(--wa-color-background-component);

$color-border-dominant: var(--wa-color-border-dominant);

$shadow-normal: var(--wa-shadow-normal);
$shadow-dominant: var(--wa-shadow-dominant);
