:root {
  * {
    scrollbar-width: thin;
  }

  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-track {
    background: rgb(138, 137, 137);
  }
  ::-webkit-scrollbar-corner {
    background: rgb(138, 137, 137);
  }

  ::-webkit-scrollbar-thumb {
    background: rgb(90, 89, 89);
  }
}
