.header {
  top: 0;
  height: 100%;
  z-index: 1;
  padding: 0rem 5rem 0rem 3rem;
  position: sticky;
  display: grid;
  grid-template-columns: 6rem auto auto;

  & > * {
    align-self: center;
    display: inline-flex;
    align-items: center;
    min-height: 3rem;
    opacity: 1;
    transition: opacity 0.3s;
  }
  .logo {
    svg {
      margin-top: 0 !important;
    }
  }
  .info {
    align-self: center;
    & > * {
      margin: 0 0.5rem;
    }
  }

  .auth {
    align-self: center;
    justify-content: flex-end;

    & > * {
      margin: 0 0.5rem;
    }
  }
  &.mobile {
    grid-template-columns: 6rem auto;
    padding: 0rem 1rem 0rem 4rem;
  }
  &.hiddenContent {
    & > * {
      opacity: 0;
    }
  }
}
