.sideMenu {
  max-width: 220px;
}

.layout {
  // height: 100vh;
  overflow: hidden;

  display: grid;
  grid-template-columns: min-content auto;
  grid-template-rows: 100vh;

  // background: var(--wa-color-background-base);

  .side {
    $height-header: 5rem;
    $height-footer: 5rem;
    .header {
      height: $height-header;
      background: rgb(22, 211, 211);
      .logo {
        color: red;
      }
    }
    .menu {
      height: calc(100vh - #{$height-header} - #{$height-footer});
      overflow: auto;
      background: var(--color-background-lvl-0);
    }
    .footer {
      height: 5rem;
      // position: fixed;
      bottom: 0;
      // width: 100%;
      background: rgb(255, 47, 238);
    }
  }

  .content {
    background: var(--color-background-lvl-0);
    overflow-y: hidden;
    overflow: auto;
    // width: 100%;
  }
}
